// text //
.label{
    -fx-text-fill: #F2EFED;
}

// text //
.label{
    -fx-text-fill: white;
}

// background //
.root{
    -fx-background-color: #38383B;
}

// Buttons //
.button{
    -fx-background-color: #7D7880;
    -fx-text-fill: white;
    -fx-background-radius: 12;
    -fx-cursor:hand;
}
.button:hover{
    -fx-background-color: #9a989c;
}
.button:pressed{
    -fx-background-color: #A4A2A6;
}
#timerRectangle{
    -fx-fill: #282729;
}

// ghost buttons //
#timerButtons > .button{
                    -fx-background-color: transparent;
                    -fx-text-fill: #F2EFED;
                    -fx-background-radius: 8;
                    -fx-border-color: #F2EFED;
                    -fx-border-radius: 8;
                    -fx-border-width: 2px;
                }
#timerButtons > .button:hover{
                    -fx-background-color: #7D7880;
                }
#timerButtons > .button:pressed{
                   -fx-background-color: #342E38;
                }

// list view //
.list-view {
    -fx-background-color: #282729;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.list-cell {
    -fx-padding: 25px;
    -fx-background-insets: 5, 0 0 10 0;
    -fx-background-color: #7D7880;
    -fx-background-radius: 12px;
    -fx-text-fill: #F2EFED;
    -fx-cursor:hand;
}
.list-cell:empty{
    -fx-background-color: transparent;
}

.list-cell:empty:hover {
    -fx-background-color: transparent;
}

.list-cell:hover {
    -fx-background-color: #9a989c;
}

.list-cell:selected {
    -fx-background-color: #A4A2A6 ;
    -fx-text-fill: white;
}

//Main UI//
#sideBar{
    -fx-background-color: #171717;
}

#sideBar > .button{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}
#sideBar > .button:hover{
    -fx-background-color: #9a989c;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}

#header{
    -fx-background-color: #171717;
}
#screenLabel{
    -fx-text-fill: #FFFFFF;
}
// Text Fields //
.text-field{
    -fx-background-color: #7D7880 ;
    -fx-background-radius: 10;
    -fx-text-fill: #F2EFED;
    -fx-prompt-text-fill: #F2EFED;
}

// Checklist Elements //
.task-card{
    -fx-background-color: #9a989c;
    -fx-background-radius: 10;
}
.task-checkbox{
    -fx-color: #7D7880;
    -fx-font-size: 16px;
}
.task-card.selected{
    -fx-background-color: #7D7880;
}
.task-title.selected{
    -fx-text-fill: #FFFFFF;
}
.date-label.selected{
    -fx-text-fill: #FFFFFF;
}
#checklistView{
    -fx-background-color: #38383B;
}

#checklistBackground{
    -fx-background-color: #38383B;
}

#taskSideBar{
    -fx-background-color: #282729;
}

#taskDetails{
    -fx-border-color: #F2EFED;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-padding: 5;
}
#taskDetails > .text-area{
    -fx-background-color: transparent;
    -fx-control-inner-background: #282729;
    -fx-text-box-border: transparent;
}

//Creature Screen//
#creatureBackground{
    -fx-background-color: #282729;
    -fx-background-radius: 20;
    -fx-max-width: 600;
    -fx-max-height: 400;
}
#creatureSideBar{
    -fx-background-color: #282729;

}
.progress-bar{
    -fx-accent: #0A0117;
    -fx-control-inner-background: #9a989c;
}
#recentRewards{
    -fx-background-color: #0E061A;
    -fx-background-radius: 5
    -fx-text-fill: white;
}
#creatureScreenBackground{
    -fx-background-color: #38383B;
}

//Store elements//
#storeSideBar{
    -fx-background-color: #282729;
}
#dailyTasks{
    -fx-background-color: #0E061A;
    -fx-background-radius: 20;
}
.scroll-pane {
        -fx-background-color: transparent;
        -fx-border-color: transparent;
    }
.scroll-pane > .viewport {
        -fx-background-color: transparent;
    }

//themes screen//
#themesSideBar{
    -fx-background-color: #282729;
}
