// background //
.root{
    -fx-background-color: #f0f0f0;
}

// Buttons //
.button{
    -fx-background-color: #668193;
    -fx-text-fill: white;
    -fx-background-radius: 12;
    -fx-cursor:hand;
}
.button:hover{
    -fx-background-color: #4a6773;
}
.button:pressed{
    -fx-background-color: #384d55;
}
#timerRectangle{
    -fx-fill: #AFB5C5;
}

// ghost buttons //
#timerButtons > .button{
                    -fx-background-color: transparent;
                    -fx-text-fill: #668193;
                    -fx-background-radius: 8;
                    -fx-border-color: #668193;
                    -fx-border-radius: 8;
                    -fx-border-width: 2px;
                }
#timerButtons > .button:hover{
                    -fx-background-color: #e0e0e0;
                }
#timerButtons > .button:pressed{
                   -fx-background-color: #d0d0d0
                }

// list view //
.list-view {
    -fx-background-color: #AFB5C5;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.list-cell {
    -fx-padding: 25px;
    -fx-background-insets: 5, 0 0 10 0;
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-text-fill: black;
    -fx-cursor:hand;
}
.list-cell:empty{
    -fx-background-color: transparent;
}

.list-cell:empty:hover {
    -fx-background-color: transparent;
}

.list-cell:hover {
    -fx-background-color: #e0e0e0;
}

.list-cell:selected {
    -fx-background-color:  #193339;
    -fx-text-fill: white;
}

//Main UI//
#sideBar{
    -fx-background-color:  #193339;
}

#sideBar > .button{
    -fx-background-color:  transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}
#sideBar > .button:hover{
    -fx-background-color:  #668193;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}

#header{
    -fx-background-color:  #193339;
}
#screenLabel{
    -fx-text-fill: #FFFFFF;
}

// Text Fields //
.text-field{
    -fx-background-color:  #AFB5C5;
    -fx-background-radius: 10;
    -fx-text-fill: #333;
    -fx-prompt-text-fill: #555;
}

// Checklist Elements //
.task-card{
    -fx-background-color: #AFB5C5;
    -fx-background-radius: 10;
}
.task-checkbox{
    -fx-color: #668193;
    -fx-font-size: 16px;
}
.task-card.selected{
    -fx-background-color: #668193;
}
.task-title.selected{
    -fx-text-fill: #FFFFFF;
}
.date-label.selected{
    -fx-text-fill: #FFFFFF;
}
#checklistView{
    -fx-background-color: #f0f0f0;
}

#checklistBackground{
    -fx-background-color: #f0f0f0;
}

#taskSideBar{
    -fx-background-color: #AFB5C5;
}

#taskDetails{
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-padding: 5;
}
#taskDetails > .text-area{
    -fx-background-color: transparent;
    -fx-control-inner-background:  #AFB5C5;
    -fx-text-box-border: transparent;
}

//Creature Screen//
#creatureBackground{
    -fx-background-color: #AFB5C5;
    -fx-background-radius: 20;
    -fx-max-width: 600;
    -fx-max-height: 400;
}
#creatureSideBar{
    -fx-background-color: #AFB5C5;
}
.progress-bar{
    -fx-accent: #668193;
    -fx-control-inner-background:  #8FA0B0;
}
#recentRewards{
    -fx-background-color: #9CA7B9;
    -fx-background-radius: 5
}
#creatureScreenBackground{
    -fx-background-color: #f0f0f0;
}

//Store elements//
#storeSideBar{
    -fx-background-color: #AFB5C5;
}
#dailyTasks{
    -fx-background-color:  #8DA0B3;
    -fx-background-radius: 20;
}
.scroll-pane {
        -fx-background-color: transparent;
        -fx-border-color: transparent;
    }
.scroll-pane > .viewport {
        -fx-background-color: transparent;
    }

//themes screen//
#themesSideBar{
    -fx-background-color: #AFB5C5;
}










