// background //
.root{
    -fx-background-color: #FFFFFF;
}

// text //
.label{
    -fx-text-fill: black;
}

// Buttons //
.button{
    -fx-background-color: #E4E3E2;
    -fx-text-fill: black;
    -fx-background-radius: 12;
    -fx-cursor:hand;
}
.button:hover{
    -fx-background-color: #DDDCDA;
}
.button:pressed{
    -fx-background-color: #B8B6B3;
}
#timerRectangle{
    -fx-fill: #E7E7E4;
}

// ghost buttons //
#timerButtons > .button{
                    -fx-background-color: transparent;
                    -fx-text-fill: black;
                    -fx-background-radius: 8;
                    -fx-border-color: black;
                    -fx-border-radius: 8;
                    -fx-border-width: 2px;
                }
#timerButtons > .button:hover{
                    -fx-background-color: #E7E7E4;
                }
#timerButtons > .button:pressed{
                   -fx-background-color: #DDDCDA;
                }

// list view //
.list-view {
    -fx-background-color: #E7E7E4;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.list-cell {
    -fx-padding: 25px;
    -fx-background-insets: 5, 0 0 10 0;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 12px;
    -fx-text-fill: black;
    -fx-cursor:hand;
}
.list-cell:empty{
    -fx-background-color: transparent;
}

.list-cell:empty:hover {
    -fx-background-color: transparent;
}

.list-cell:hover {
    -fx-background-color: #E4E3E2;
}

.list-cell:selected {
    -fx-background-color: #DDDCDA;
    -fx-text-fill: black;
}

//Main UI//
#sideBar{
    -fx-background-color: #E4E3E2;
}

#sideBar > .button{
    -fx-background-color:  transparent;
    -fx-background-radius: 0px;
    -fx-text-fill:black;
}
#sideBar > .button:hover{
    -fx-background-color: #DDDCDA;
    -fx-background-radius: 0px;
    -fx-text-fill:black;
}

#header{
    -fx-background-color: #E4E3E2 ;
}
#screenLabel{
    -fx-text-fill: black;
}

// Text Fields //
.text-field{
    -fx-background-color: #E7E7E4;
    -fx-background-radius: 10;
    -fx-text-fill: black;
    -fx-prompt-text-fill: #B8B6B3;
}

// Checklist Elements //
.task-card{
    -fx-background-color: #E7E7E4;
    -fx-background-radius: 10;
}
.task-checkbox{
    -fx-color: #E4E3E2;
    -fx-font-size: 16px;
}
.task-card.selected{
    -fx-background-color: #E4E3E2;
}
.task-title.selected{
    -fx-text-fill: black;
}
.date-label.selected{
    -fx-text-fill: black;
}
#checklistView{
    -fx-background-color: #FFFFFF;
}

#checklistBackground{
    -fx-background-color: #FFFFFF;
}

#taskSideBar{
    -fx-background-color: #E7E7E4;
}

#taskDetails{
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-padding: 5;
}
#taskDetails > .text-area{
    -fx-background-color: transparent;
    -fx-control-inner-background: #E7E7E4 ;
    -fx-text-box-border: transparent;
}

//Creature Screen//
#creatureBackground{
    -fx-background-color: #E7E7E4;
    -fx-background-radius: 20;
    -fx-max-width: 600;
    -fx-max-height: 400;
}
#creatureSideBar{
    -fx-background-color: #E7E7E4;
}
.progress-bar{
    -fx-accent: #E4E3E2;
    -fx-control-inner-background: #FFFFFF ;
}
#recentRewards{
    -fx-background-color: #E4E3E2;
    -fx-background-radius: 5
}
#creatureScreenBackground{
    -fx-background-color: #FFFFFF;
}

//Store elements//
#storeSideBar{
    -fx-background-color: #E7E7E4;
}
#dailyTasks{
    -fx-background-color: #E4E3E2;
    -fx-background-radius: 20;
}
.scroll-pane {
        -fx-background-color: transparent;
        -fx-border-color: transparent;
    }
.scroll-pane > .viewport {
        -fx-background-color: transparent;
    }

//themes screen//
#themesSideBar{
    -fx-background-color: #E7E7E4;
}
