// background //
.root{
    -fx-background-color: ;
}

// text //
.label{
    -fx-text-fill: ;
}

// Buttons //
.button{
    -fx-background-color: ;
    -fx-text-fill: white;
    -fx-background-radius: 12;
    -fx-cursor:hand;
}
.button:hover{
    -fx-background-color: ;
}
.button:pressed{
    -fx-background-color: ;
}
#timerRectangle{
    -fx-fill: ;
}


// ghost buttons //
#timerButtons > .button{
                    -fx-background-color: transparent;
                    -fx-text-fill: ;
                    -fx-background-radius: 8;
                    -fx-border-color: ;
                    -fx-border-radius: 8;
                    -fx-border-width: 2px;
                }
#timerButtons > .button:hover{
                    -fx-background-color: ;
                }
#timerButtons > .button:pressed{
                   -fx-background-color:
                }

// list view //
.list-view {
    -fx-background-color: ;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.list-cell {
    -fx-padding: 25px;
    -fx-background-insets: 5, 0 0 10 0;
    -fx-background-color: ;
    -fx-background-radius: 12px;
    -fx-text-fill: black;
    -fx-cursor:hand;
}
.list-cell:empty{
    -fx-background-color: transparent;
}

.list-cell:empty:hover {
    -fx-background-color: transparent;
}

.list-cell:hover {
    -fx-background-color: ;
}

.list-cell:selected {
    -fx-background-color:  ;
    -fx-text-fill: white;
}

//Main UI//
#sideBar{
    -fx-background-color:  ;
}

#sideBar > .button{
    -fx-background-color:  transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}
#sideBar > .button:hover{
    -fx-background-color:  ;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}

#header{
    -fx-background-color:  ;
}
#screenLabel{
    -fx-text-fill: ;
}

// Text Fields //
.text-field{
    -fx-background-color:  ;
    -fx-background-radius: 10;
    -fx-text-fill: ;
    -fx-prompt-text-fill: ;
}

// Checklist Elements //
.task-card{
    -fx-background-color: ;
    -fx-background-radius: 10;
}
.task-checkbox{
    -fx-color: ;
    -fx-font-size: 16px;
}
.task-card.selected{
    -fx-background-color: ;
}
.task-title.selected{
    -fx-text-fill: ;
}
.date-label.selected{
    -fx-text-fill: ;
}
#checklistView{
    -fx-background-color: ;
}

#checklistBackground{
    -fx-background-color: ;
}

#taskSideBar{
    -fx-background-color: ;
}

#taskDetails{
    -fx-border-color: ;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-padding: 5;
}
#taskDetails > .text-area{
    -fx-background-color: transparent;
    -fx-control-inner-background:  ;
    -fx-text-box-border: transparent;
}

//Creature Screen//
#creatureBackground{
    -fx-background-color: ;
    -fx-background-radius: 20;
    -fx-max-width: 600;
    -fx-max-height: 400;
}
#creatureSideBar{
    -fx-background-color: ;
}
.progress-bar{
    -fx-accent: ;
    -fx-control-inner-background:  ;
}
#recentRewards{
    -fx-background-color: ;
    -fx-background-radius: 5
}
#creatureScreenBackground{
    -fx-background-color: ;
}

//Store elements//
#storeSideBar{
    -fx-background-color: ;
}
#dailyTasks{
    -fx-background-color:  ;
    -fx-background-radius: 20;
}
.scroll-pane {
        -fx-background-color: transparent;
        -fx-border-color: transparent;
    }
.scroll-pane > .viewport {
        -fx-background-color: transparent;
    }

//themes screen//
#themesSideBar{
    -fx-background-color: ;
}