.root {
    -fx-background-color: #f8d7d7;
}

/* Text */
.label {
    -fx-text-fill: #3e1f1f;
}

/* Buttons */
.button {
    -fx-background-color: #f1a7a7;
    -fx-text-fill: white;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #e68a8a;
}
.button:pressed {
    -fx-background-color: #d77d7d;
}

/* Timer Rectangle */
#timerRectangle {
    -fx-fill: #f2c8c8;
}

/* Ghost Buttons */
#timerButtons > .button {
    -fx-background-color: transparent;
    -fx-text-fill: #f1a7a7;
    -fx-background-radius: 8;
    -fx-border-color: #f1a7a7;
    -fx-border-radius: 8;
    -fx-border-width: 2px;
}
#timerButtons > .button:hover {
    -fx-background-color: #e68a8a;
}
#timerButtons > .button:pressed {
    -fx-background-color: #f8d7d7;
}

/* List View */
.list-view {
    -fx-background-color: #f2c8c8; /* Soft red background for list */
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.list-cell {
    -fx-padding: 25px;
    -fx-background-insets: 5, 0 0 10 0;
    -fx-background-color: #f1a7a7; /* Light red background for list items */
    -fx-background-radius: 12px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell:empty:hover {
    -fx-background-color: transparent;
}

.list-cell:hover {
    -fx-background-color: #e68a8a; /* Slightly darker red on hover */
}

.list-cell:selected {
    -fx-background-color: #d77d7d; /* Darker red when selected */
    -fx-text-fill: white;
}

/* Main UI */
#sideBar {
    -fx-background-color: #f1a7a7;
}

#sideBar > .button {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}
#sideBar > .button:hover {
    -fx-background-color: #e68a8a;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}

#header {
    -fx-background-color: #f1a7a7;
}
#screenLabel{
    -fx-text-fill: #FFFFFF;
}

/* Text Fields */
.text-field {
    -fx-background-color: #f1a7a7;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #3e1f1f;
}

/* Checklist Elements */
.task-card {
    -fx-background-color: #d77d7d;
    -fx-background-radius: 10;
}
.task-checkbox {
    -fx-color: #f1a7a7;
    -fx-font-size: 16px;
}
.task-card.selected{
    -fx-background-color: #f1a7a7;
}
.task-title.selected{
    -fx-text-fill: #FFFFFF;
}
.date-label.selected{
    -fx-text-fill: #FFFFFF;
}
#checklistView {
    -fx-background-color: #f8d7d7;
}

#checklistBackground {
    -fx-background-color: #f8d7d7;
}

#taskSideBar {
    -fx-background-color: #f2c8c8;
}

#taskDetails {
    -fx-border-color: #f1a7a7;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-padding: 5;
}
#taskDetails > .text-area {
    -fx-background-color: transparent;
    -fx-control-inner-background: #f2c8c8;
    -fx-text-box-border: transparent;
}

/* Creature Screen */
#creatureBackground {
    -fx-background-color: #f2c8c8;
    -fx-background-radius: 20;
    -fx-max-width: 600;
    -fx-max-height: 400;
}
#creatureSideBar {
    -fx-background-color: #f2c8c8;
}

.progress-bar {
    -fx-accent: #f1a7a7;
    -fx-control-inner-background: #f8d7d7;
}

#recentRewards {
    -fx-background-color: #f8d7d7;
    -fx-background-radius: 5;
}

#creatureScreenBackground {
    -fx-background-color: #f8d7d7;
}

/* Store elements */
#storeSideBar {
    -fx-background-color: #f2c8c8;
}
#dailyTasks {
    -fx-background-color: #d77d7d;
    -fx-background-radius: 20;
}
.scroll-pane {
        -fx-background-color: transparent;
        -fx-border-color: transparent;
    }
.scroll-pane > .viewport {
        -fx-background-color: transparent;
    }

//themes screen//
#themesSideBar{
    -fx-background-color: #f2c8c8;
}