.red-theme-button{
    -fx-background-color:
        linear-gradient(to right, #E14752 0%, #E14752 25%, #C2202C 25%, #C2202C 50%, #9c0c18 50%, #9c0c18 75%, #6F0811 75%, #6F0811 100%);
}
.red-theme-button:disabled{
    -fx-background-color:
            linear-gradient(to right, #F4A3A8 0%, #F4A3A8 25%, #E68A91 25%, #E68A91 50%, #D4777F 50%, #D4777F 75%, #B54C54 75%, #B54C54 100%);
}

.green-theme-button{
    -fx-background-color:
        linear-gradient(to right, #A8E6A3 0%, #A8E6A3 25%, #4CAF50 25%, #4CAF50 50%, #2E7D32 50%, #2E7D32 75%, #1B4F22 75%, #1B4F22 100%);
}
.green-theme-button:disabled{
    -fx-background-color:
        linear-gradient(to right, #CFF4CE 0%, #CFF4CE 25%, #81D68F 25%, #81D68F 50%, #4AA160 50%, #4AA160 75%, #2C6539 75%, #2C6539 100%);
}

.default-theme-button{
    -fx-background-color:
            linear-gradient(to right, #f0f0f0 0%, #f0f0f0 25%,  #AFB5C5 25%,  #AFB5C5 50%, #668193 50%, #668193 75%,  #193339 75%,  #193339 100%);
}
.default-theme-button:hover{
    -fx-background-color:linear-gradient(to right, #d9d9d9 0%,  #d9d9d9 25%,  #8c98a8 25%,  #8c98a8 50%,  #4f5f6d 50%,  #4f5f6d 75%,  #132a33 75%,  #132a33 100% );
}
.default-theme-button:pressed{
    -fx-background-color:linear-gradient(to right, #b3b3b3 0%, #b3b3b3 25%, #6f7585 25%, #6f7585 50%, #3e4a56 50%, #3e4a56 75%, #0f2025 75%, #0f2025 100%);
}

.dark-theme-button{
    -fx-background-color:linear-gradient(to right, #A4A2A6 0%, #A4A2A6 25%, #7D7880 25%, #7D7880 50%, #353336 50%, #353336 75%, #0A0117 75%, #0A0117 100%);
}
.pink-theme-button{
    -fx-background-color:linear-gradient(to right, #f8d7d7 0%, #f8d7d7 25%, #f2c8c8 25%, #f2c8c8 50%, #f1a7a7 50%, #f1a7a7 75%, #b95e5e 75%, #b95e5e 100%);
}
.blue-theme-button{
    -fx-background-color:linear-gradient(to right, #F0F0F0 0%, #F0F0F0 25%, #DADEF6 25%, #DADEF6 50%, #206083 50%, #206083 75%, #0E1439 75%, #0E1439 100%);
}
.light-theme-button{
    -fx-background-color:linear-gradient(to right, #FFFFFF 0%, #FFFFFF 25%, #E7E7E4 25%, #E7E7E4 50%, #E4E3E2 50%, #E4E3E2 75%, #DDDCDA 75%, #DDDCDA 100%);
}
